.contact-form {
    width: 90%;

    &__field {
        width: 100%;
        padding: 1rem;
        font-size: 1.8rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        resize: none;
        font-family: arial, sans-serif;
        background-color: transparent;
        border-top: none;
        border-color: black;
        border-width: .1em;

    }
}